<h1>Index</h1>


<a asp-area="" asp-action="Index" asp-controller="Shop">Index side</a><br />
<a asp-area="" asp-action="SpecifikVare" asp-controller="Shop">Specifik Vare side</a><br />
<a asp-area="" asp-action="Betaling" asp-controller="Shop">Betaling side</a><br />
<a asp-area="" asp-action="Opsumering" asp-controller="Shop">Opsumering side</a><br />




            

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4" >
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/Cheese-with-noodles1.jpg")')"></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/Fresh-pepper1.jpg")')"></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/Fresh-citrus1.jpg")')"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4" >
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/Green-leaf1.jpg")')"></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/meats1.jpg")')"></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid shop-img-index" style="background-image: url('@Url.Content("~/images/wine.jpg")')"></div>
        </div>
    </div>


</div>